.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.esri-view {
  width: 100%;
  height: 100%;
}

.esri-ui-corner {
  max-height: 100%;
}

@media (max-width: 600px) {
  .esri-ui-top-left,
  .esri-ui-top-right {
    max-width: calc(100% - 100px);
  }
}